@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

Body {
	font-family: 'Dosis', sans-serif;
}

DIV {
	border: 1px solid #000000;
}

#Header {
	height: 100px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: url(images/banner.png) no-repeat object-fit: contain;
}

#MainContent {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#Footer {
	max-width: 802px;
	margin-right: auto;
	margin-left: auto;
	height: 50px
}

#FooterLeft {
	float: left;
	width: 49.5%;
	height: 49px;
	border: 1px solid green;
}

#FooterRight {
	float: right;
	width: 49.5%;
	height: 49px;
	border: 1px solid red;
}

@media only screen and (max-width: 998px) {

	#Footer,
	#MainContent,
	#Header {
		width: 100%;
	}
}
