@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

Body {
	font-family: 'Dosis', sans-serif;
}

DIV {
	border: 1px solid #000000;
}

#Header {
	height: 100px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;

}

#MainContent {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#Footer {
	max-width: 802px;
	margin-right: auto;
	margin-left: auto;
	height: 50px
}

#FooterLeft {
	float: left;
	width: 0.5vw;
	height: 49px;
	border: 1px solid green;
}

#FooterRight {
	float: right;
	width: 0.5vw;
	height: 49px;
	border: 1px solid red;
}

@media only screen and (max-width: 998px) {

	#Footer,
	#MainContent,
	#Header {
		width: 100%;
	}
}

div.gallery {
	border: 1px solid #ccc;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}